:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cztery kolumny */
  gap: 12px; /* Odstęp między elementami */
  padding: 20px;
}

.photo-card {
  border: 1px solid #ddd;
}

.photo-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.info-item {
  flex: 1;
  padding: 5px;
  font-size: 12px;
}

.info-item b {
  font-weight: bold;
}

.simple-lightbox {
  z-index: 1000;
}
